{erl_opts, [debug_info, {src_dirs, ["test"]}]}.
{lfe_first_files, []}.
{deps_dir, ["deps"]}.
{eunit_compile_opts, [
   {src_dirs, ["test", "src"]}
  ]}.
{deps, [
   {lfe, ".*", {git, "git://github.com/rvirding/lfe.git", "develop"}},
   {lutil, ".*", {git, "git://github.com/lfex/lutil.git", "master"}},
   {ltest, ".*", {git, "git://github.com/lfex/ltest.git", "master"}},
   {lfest, ".*", {git, "git://github.com/lfex/lfest.git", "master"}},
   {yaws, ".*", {git, "git://github.com/klacke/yaws.git", "master"}}
  ]}.
