{erl_opts, [debug_info, {src_dirs, ["test"]}]}.
{lfe_first_files, []}.
{deps_dir, ["deps"]}.
{plugins, ['lfe-sample-rebar-plugin']}.
{eunit_compile_opts, [
   {src_dirs, ["test", "src"]}
  ]}.
{deps, [
   {lfe, ".*", {git, "git://github.com/rvirding/lfe.git", "develop"}},
   {'lfe-utils',
     ".*",
     {git, "https://github.com/lfe/lfe-utils.git", "master"}},
   {lfeunit, ".*", {git, "git://github.com/lfe/lfeunit.git", "master"}},
   {yaws, ".*", {git, "git://github.com/klacke/yaws.git", "master"}},
   {'lfe-sample-rebar-plugin',
     ".*",
     {git, "git://github.com/oubiwann/lfe-sample-rebar-plugin.git",
       "master"}}
  ]}.
