{erl_opts, [debug_info, {src_dirs, ["test"]}]}.
{lfe_first_files, []}.
{deps_dir, ["deps"]}.
{eunit_compile_opts, [
   {src_dirs, ["test", "src"]}
  ]}.
{deps, [
   {lfe, ".*", {git, "git://github.com/rvirding/lfe.git", {tag, "v0.9.2"}}},
   {lutil, ".*", {git, "git://github.com/lfex/lutil.git", {tag, "0.6.5"}}},
   {ltest, ".*", {git, "git://github.com/lfex/ltest.git", {tag, "0.6.1"}}},
   {lfest, ".*", {git, "git://github.com/lfex/lfest.git", {tag, "0.0.4"}}},
   {yaws, ".*", {git, "git://github.com/klacke/yaws.git", {tag, "yaws-2.0"}}}
  ]}.
